//colors
$space-cadet: #22223B;
$independence: #4A4E69;
$heliotrope-gray: #9A8C98;
$silver-pink: #C9ADA7;
$isabelline: #F2E9E4;

//sizes
$sm-size: 1.6rem;
$md-size: 2.4rem;
$lg-size: 3.2rem;
$xl-size: 4.8rem;