.filterv2-container {
    text-align: center;
}

.filterv2 {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter__form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
    .filter__form-select {
        height: 22px;
    }

@media screen and (max-width: 800px) {
    .filter__form {
        grid-template-columns: 1fr 1fr;
    }
}